:root { 
--gray_600_cc:#697076cc; 
--gray_50_01:#fbfbfb; 
--gray_50_02:#fffafa; 
--gray_50_03:#fbfafa; 
--red_A700_09:#ff0d0d; 
--red_A700_08:#ee000e; 
--red_600:#eb3223; 
--red_A700_07:#f20a0a; 
--indigo_400_59:#4f5ccf59; 
--red_A700_06:#c80c0c; 
--red_800:#cf2222; 
--light_green_A700:#30cf22; 
--red_A700_05:#ff0000; 
--red_200:#d48c8c; 
--red_400:#f55454; 
--light_green_400:#8bee5d; 
--black_900_3f:#0000003f; 
--green_700:#27b403; 
--blue_800_01:#2248cf; 
--gray_50_db:#fcfcfcdb; 
--green_A700:#23d61f; 
--yellow_A400:#fff400; 
--yellow_800:#fead1d; 
--blue_gray_900_02:#303030; 
--light_blue_A700:#0091e3; 
--blue_gray_900_01:#292d32; 
--purple_A400:#ee1abf; 
--gray_800_3f:#4444443f; 
--white_A700_af:#ffffffaf; 
--blue_gray_900:#2e2e2e; 
--red_A700:#de0808; 
--red_500_cc:#ff3636cc; 
--gray_600:#697076; 
--black_900_4c:#0000004c; 
--gray_400:#bdbdbd; 
--red_500_6c:#ff36366c; 
--blue_gray_100:#d9d9d9; 
--gray_800_19:#44444419; 
--blue_700:#1e74c8; 
--gray_50_af:#fffafaaf; 
--gray_800:#4d4c4c; 
--red_A200:#ff4a4a; 
--gray_200:#f0f0f0; 
--green_A200_63:#53e78b63; 
--light_green_A700_01:#14ff00; 
--gray_700_07:#6e636307; 
--red_800_01:#d61f1f; 
--light_green_A700_02:#32df16; 
--gray_400_01:#c2bfbf; 
--gray_400_02:#d4c5c5; 
--yellow_A400_01:#dde105; 
--gray_100_01:#f6f7f7; 
--gray_400_03:#b8bcc0; 
--gray_400_04:#bfbfbf; 
--red_A700_04:#ff0101; 
--red_A700_03:#f50909; 
--red_A700_02:#ff0303; 
--red_A700_01:#ff0505; 
--blue_gray_400_01:#828990; 
--white_A700:#ffffff; 
--red_500_01:#ff3636; 
--light_blue_A700_01:#0080ff; 
--indigo_600:#2d68a2; 
--blue_700_96:#2e77d296; 
--green_A700_63:#14be7763; 
--red_700:#c92f2f; 
--blue_gray_900_af:#292d32af; 
--red_300:#ce7b7b; 
--blue_A100:#82ade3; 
--red_500:#f53636; 
--light_green_300:#9dc284; 
--green_800:#248e1b; 
--red_400_01:#f54a4a; 
--amber_A200:#ffd042; 
--gray_50:#fafafa; 
--amber_A400:#ffc300; 
--black_900:#000000; 
--light_green_500:#8ac53e; 
--amber_A400_01:#ffc000; 
--red_A400:#fb001e; 
--pink_800:#ac2253; 
--gray_600_01:#858585; 
--gray_500:#a5a5a5; 
--blue_gray_400:#8093a5; 
--amber_400:#fece2f; 
--blue_800:#115ebc; 
--red_200_16:#e0abab16; 
--red_A700_af:#f20a0aaf; 
--gray_900:#142023; 
--gray_300:#e6e2e2; 
--gray_800_75:#3b3b3b75; 
--gray_100:#f7f6f6; 
--teal_A400:#13d9cd; 
--black_900_33:#00000033; 
}